#logout {
    border: 1px hidden;
    padding: 5px;
    background-color: darkred;
    color: white;
}


i.fa {
    margin-right: 30px;
    margin-top: 30px;
    color: blue;
    font-size: 1.5em;
}

.footer {
    margin-top: 20px;
}